SPRING_PROFILES_ACTIVE=dev

DISCOVERY_SERVER_URL=http://discovery-server:8761/eureka/

DB_URL=jdbc:mysql://mysql:3306/gym_db
DB_USERNAME=gym
DB_PASSWORD=gym
REDIS_HOST=redis
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
CORS_ALLOWED_ORIGINS=https://editor.swagger.io/

MONGO_URI=mongodb://gym:gym@mongo:27017/gym_workload?authSource=admin

ACTIVEMQ_BROKER_URL=tcp://activemq:61616
ACTIVEMQ_USER=gym
ACTIVEMQ_PASSWORD=gym
ACTIVEMQ_WEB_USER=gym
ACTIVEMQ_WEB_PASSWORD=gym

MYSQL_ROOT_PASSWORD=gym
MYSQL_DATABASE=gym_db
MYSQL_USER=gym
MYSQL_PASSWORD=gym

MONGO_INITDB_ROOT_USERNAME=gym
MONGO_INITDB_ROOT_PASSWORD=gym
